@model CarWithMakesVM

<h1>Add a New Car</h1>

<div class="border col-md-10">
    <form asp-action="Create">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group m-4">
        <label asp-for="Car.Model" class="control-label"></label>
        <input asp-for="Car.Model" class="form-control" />
        <span asp-validation-for="Car.Model" class="text-danger"></span>
    </div>

    <div class="form-group m-4">
        <label asp-for="Car.Price" class="control-label"></label>
        <input asp-for="Car.Price" class="form-control" />
        <span asp-validation-for="Car.Price" class="text-danger"></span>
    </div>

    <div class="form-group m-4">
        <label asp-for="Car.MakeId" class="control-label"></label>

        <select asp-for="Car.MakeId" class="form-control" asp-items="@Model.ListOfMakes">

            <option disabled selected>Select a make</option>

        </select>

        <span asp-validation-for="Car.MakeId" class="text-danger"></span>
    </div>

        <div class="form-group m-4">
            <input type="Submit" value="Add Car" class="form-control btn btn-primary" />
        </div>

    </form>

<div>